body{
    margin: 0;
    font-family: 'Inter', 'Libre Caslon Display', sans-serif, serif;
}



header{
    height: 1024px;
    background: linear-gradient(to right, rgba(33, 33, 33, 0.1), rgba(33, 33, 33, 0.1)), url("img/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    width: 82%;
    margin: auto;
}

.logo {
    font-size: 30px;
    font-weight: 900;
    color: white;
}

.topbar {
    width: 82%;
    margin:auto;
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.topbar:first-child{
    flex-basis: 50%;
}

.topbar:nth-child(2){
    flex-basis: 50%;
}

nav {
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 20px;
    transition: height .3s ease-out;
}

nav a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 100%;
    padding: 5px 0;
}

nav a:hover{
    background:rgba(33, 33, 33, 0.3);
    transition: background-color .5s;
}

/*this class is added via js function so that the nav items appears when the nav button is clicked*/
.active {
    height: 242px;
}

.nav-btn{
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border:none;
    cursor: pointer;
}
.nav-btn span{
    height: 3px;
    width: 26px;
    margin-top: 2px;
    margin-bottom: 2px;
    background: white;
    border-radius: 25px;
}


.nav-btn span:nth-child(1) {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    transition: transform .2s ease-out;
}

.nav-btn span:nth-child(2) {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.nav-btn span:nth-child(3) {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    transition: transform .2s ease-out;
}

.nav-btn.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center;
    margin:0;
    transition: transform .2s ease-out;
}

.nav-btn.open span:nth-child(2) {
    display: none;

}

.nav-btn.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transform-origin: center;
    margin: -3px 0 0 0;
    transition: transform .2s ease-out;
}

.nav-btn.open:hover span:nth-child(1){
    transform: rotate(20deg);
}

.nav-btn.open:hover span:nth-child(3){
    transform: rotate(-20deg);
}

/*header*/

.header-content{
    width: 82%;
    margin:216px auto 0 auto;
    transition: margin-top .3s ease-out;
}

.rectangle{
    width: 90px;
    height: 15px;
    background: white;
}

.header-content h1{
    font-family: 'Libre Caslon Display', serif;
    font-size: 50px;
    color: white;
    margin:32px 0 0 0;
}

.header-content p{
    font-size: 18px;
    color: white;
    margin: 32px 0;
    line-height: 1.68;
}

.header-button{
    font-size: 18px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding:10px 22px;
    cursor: pointer;
}

.header-button:hover{
    background: white;
    color: black;
    transition: all .3s;
}
/*this class is added whenever the menu button is clicked to expand
  by which the header content's margin is reduced
  so that there isn't a the big margin between the opened menu and the header content*/
.header-clicked{
    margin-top:20px;
    transition: margin-top .3s ease-out;
}



/*News content*/

.news-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 32px;
    margin-top: 78px;
}

.news-title{
    margin-top: 78px;
    font-size: 24px;
    font-weight: bold;
}

.news-card{
    height: 620px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.news-card img{
    width: 100%;
    border-radius: 4px;
    height: 352px;
    object-fit: cover;
}

.date{
    color: #B7B7B7;
    font-size: 13px;
    margin-left: 32px;
    margin-bottom: 0;
}

.article-text{
    font-weight: bold;
    font-size: 20px;
    margin:0px 32px 0 32px;
}

.news-card a{
    font-size: 15px;
    color: #D9852C;
    text-decoration: none;
    float: right;
    margin-right: 32px;
    /*margin-top: 26px;*/
    margin-bottom: 32px;
    align-self: flex-end;
}

.news-card a:hover{
    color: #A0611F;
    transition: color .3s;
}
/*tablet version */
@media screen and (min-width: 720px){
    .container{
        width: 80%;
    }

    .topbar{
        width: 92%;
    }

    .header-content{
        width: 80%;
    }

    .header-content h1{
        font-size: 70px;
    }

    .date{
        font-size: 15px;
    }

    .article-text{
        font-size: 15px;
        margin-top: 18px;
    }

    .news-card a{
        font-size: 15px;
    }

    .news-title{
        font-size: 30px;
        margin-top: 90px;
    }

    .news-container{
        margin-top: 56px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media screen and (min-width: 1024px){
    .topbar{
        width: 96%;
    }

    .header-container, .container{
        width: 90%;
    }

    .nav-btn{
        display: none;
    }

    nav{
        flex-wrap: nowrap;
        height: 100%;
        width: 60%;
        margin-top:0;
        justify-content: space-evenly;
        align-items: center;

    }

    nav a{
        padding: 0;
        width: initial;
        font-size: 18px;
    }

    nav a:hover{
        background: transparent;
    }

    .get-started{
        font-size: 18px;
        color: white;
        border: 2px solid white;
        border-radius: 10px;
        padding: 10px 27px;
        cursor: pointer;
        text-align: center;
    }

    .get-started:hover{
        background: white;
        color: black;
        transition: all .3s;
    }

    .header-content h1{
        font-size: 80px;
    }

    .news-title{
        font-size: 40px;
        margin-top: 90px;
    }

    .news-container{
        margin-top: 44px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .news-card{
        justify-content: space-between;
        height: 635px;
    }

    .date{
        font-size: 15px;
        margin-top: 35px;
    }

    .article-text{
        margin-top: 26px;
        font-size: 25px;
    }

    .news-card a{
        margin-top: 34px;
    }

    .news-card img{
        height: initial;
    }

}